html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.nav-logo {
	float: left;
	margin-top: 1rem;
}
.top-nav .links {
	float: right;
	margin-top: 1.5rem;
	-webkit-font-smoothing: antialiased;
}
.top-nav .links li{
	display: inline-block;
	margin-left: 25px;
}
.top-nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding: 0rem 2rem;
}
.introduction {
	background-image: url("../images/nicole-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 40rem;
	color: white;
	text-align: center;
	padding: 16rem 0rem;
	background-color: black;
}
.introduction, .portfolio {
	text-align: center;
}
.accent, .links a:hover {
	color: lightblue;
	font-weight: bold;
  font-size: 1.25em;
}
.links a{
  color: black;
}
a {
  text-decoration: none;

}
ul.projects li {
	display: inline-block;
	width: 33%;
  min-width: 18rem;
  max-width: 21rem;
	margin: 1rem;
}
ul.projects {
	margin: 0px auto;
	padding: 0px;
}
.project{
	width: 100%;
	padding: 1rem;
	border: 1px solid black;
	}
.portfolio {
	width: 100%;
	padding: 0px 2rem;
}
.content-footer {
	margin-top: 5em;
	padding: 4em 0;
	background-color: black;
  text-align: center;
  color: #fff;
}

.content-footer > p {
  color: white;
}

.social {
	padding: 0;
	list-style: none;
}

.social > li {
	display: inline-block;
	margin-right: .75em;
  margin-left: .75em
}
.name {
  font-size: 4rem;
  margin: -2rem;
}
.header {
  font-size: 2em;
  margin-top: 4rem;
}
