<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 background tpad70">
		  <h1 class="intro">Blog</h1>
		</div>
	</div>
	<div class="row section-margin">
	    <div class="col-md-9">
    	    <div class="col-md-2 col-md-offset-1">
    	        <h3>{{ bpc.currentBlogPost.created | date:short }}</h3>
    	    </div>
        	<div class="col-md-8">
        	    <h2>{{ bpc.currentBlogPost.title }}</h2>
        	    <button class="btn btn-default btn-xs" ng-show="bpc.admin" ng-click="bpc.deleteBlogPost()" type="button" role="button">delete</button>
        	    <a class="btn btn-default btn-xs" ng-show="bpc.admin" href="/admin/{{ bpc.currentBlogPost._id }}/edit" type="button" role="button">edit</a>
        		<section class="angular-with-newlines">
        		    {{ bpc.currentBlogPost.content }}
        		</section>
        	</div>
        </div>
        <blog-sidebar ng-controller="BlogCtrl as bc"></blog-sidebar>
	</div>
 </div>