<div class="container-fluid">
    <div class="row">
  	    <div class="col-md-12 fullHeight text-center tpad70">
  	        <button type="button" class="btn btn-default btn-lg text-center" data-ng-click="ac.showSignupModal()" data-animation="am-fade-and-scale" data-placement="center">New Admin</button>
  	        <button type="button" class="btn btn-default btn-lg text-center" data-ng-click="ac.showLoginModal()" data-animation="am-fade-and-scale" data-placement="center">Login</button>
  	    </div>
  	</div>
</div>