<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{ pc.project.name }}</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-8">
                    <img class="img-responsive" src="{{ pc.project.image }}" />
                </div>
                <div class="col-md-4">
                    <ul ng-repeat="skill in pc.project.skillset">
                        <li>{{ skill }}</li>
                    </ul>
                    <a type="button" class="btn btn-primary btn-sm" href="{{ pc.project.github }}" target="_blank" ng-show="pc.project.github !==''"><i class="fa fa-github" aria-hidden="true"></i> View Github </a>
                    <a type="button" class="btn btn-primary btn-sm" href="{{ pc.project.link }}" target="_blank">View Project</a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>